{% extends "base.html" %}
{% load static %}

{% block metadescription %}
	This is the Thank You page. We thank you for your order and hope you enjoy your cushions.
{% endblock %}

{% block title %}
	Thank You - Smart Solutions Private Limited
{% endblock %}

{% block content %}
<script>
	let path = document.querySelector(".tick");
let length = path.getTotalLength();

console.log(length); 
</script>
<style>
	@supports (animation: grow .5s cubic-bezier(.25, .25, .25, 1) forwards) {
     .tick {
        stroke-opacity: 0;
        stroke-dasharray: 29px;
        stroke-dashoffset: 29px;
        animation: draw .5s cubic-bezier(.25, .25, .25, 1) forwards;
        animation-delay: .6s
    }

    .circle {
        fill-opacity: 0;
        stroke: #219a00;
        stroke-width: 16px;
        transform-origin: center;
        transform: scale(0);
        animation: grow 1s cubic-bezier(.25, .25, .25, 1.25) forwards;   
    }   
}

@keyframes grow {
    60% {
        transform: scale(.8);
        stroke-width: 4px;
        fill-opacity: 0;
    }
    100% {
        transform: scale(.9);
        stroke-width: 8px;
        fill-opacity: 1;
        fill: #219a00;
    }
}

@keyframes draw {
    0%, 100% { stroke-opacity: 1; }
    100% { stroke-dashoffset: 0; }
}



:root {
  --theme-color: var(--color-purple);
}


</style>

	<div>
		<div class="text-center">
			<br>
			<div class="svg-container">    
				<svg class="ft-green-tick" xmlns="http://www.w3.org/2000/svg" height="200" width="200" viewBox="0 0 48 48" aria-hidden="true">
					<circle class="circle" fill="#5bb543" cx="24" cy="24" r="22"/>
					<path class="tick" fill="none" stroke="#FFF" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M14 27l5.917 4.917L34 17"/>
				</svg>
			</div>
			<br>
			<h1 class="text-center my_title">
				Thank you for placing your order
			</h1>
			<br>
			<br>
			<p>Your order number is: <b>{{ customer_order.id }}</b></p>
			<br>
			<p>
				We have received your order and will being processing the order right away. For your records, an email confirmation has been sent to the email provided at payment. The confirmation will contain a reciept and details of the purchase. Thank You!
			</p>
		</div>
	</div>
    <a href="{% url 'shop:allProdCat' %}" class="w-100 btn btn-lg btn-warning">Continue Shopping</a>
	<br>
	<br>
{% endblock %}