<div class="container">
    <div class="row mx-auto">
    {% for wish_product in wishs %}
    <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-md-12 col-lg-4">
        <div class="card text-center" style="min-width: 18rem;">
        <h2><span class="badge rounded-pill bg-primary float-right">Flat{{wish_product.discount}}% OFF</span></h2>
        <a href="{{ wish_product.get_url }}"><img src="{{wish_product.image.url}}" class="d-block w-100" alt="{{ wish_product.name }}" height="400px"></a>
         
        <div class="card-body">
            <h4>{{wish_product.name}}</h4>
            <p><h2><span class="badge rounded-pill bg-info">{{wish_product.price}}</span> <span class="badge rounded-pill bg-light text-dark"><del>{{wish_product.cut_through_price}}</del></span></h2></p>
            {% if wish_product.stock <= 0 %}
            <p class="text-justify my_prod_text"><b>Out of Stock</b></p>
            {% else %}
            <p><a class="btn btn-success btn-lg" href="{% url 'cart:add_cart' wish_product.id %}">Add to Cart</a></p>
            {% endif %}
        </div>
        </div>
    </div>
    {% endfor %}

    </div>
    
</div>