{% extends "base.html" %}
{% load static %}

{% block metadescription %}
	We have a variety of items. Look for the ones that best suits your needs
{% endblock %}

{% block title %}
	Search - Smart Solutions Private Limited
{% endblock %}

{% block content %}
	<div>
		<p class="text-center my_search_text "> Search results for: <b>"{{ query }}"</b> </p>
	</div>
	<div class="container">
		<div class="row mx-auto">
			{% for product in products %}
				<div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-md-12 col-lg-4"> 
					<div class="card text-center" style="min-width: 18rem;"> 
						<a href="{{ product.get_url }}"> <img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}" > </a> 
						<div class="card-body">
							<h4>{{ product.name }}</h4>
							<p><h2><span class="badge rounded-pill bg-info">{{product.price}}</span> <span class="badge rounded-pill bg-light text-dark"><del>{{product.cut_through_price}}</del></span></h2></p>
							{% if product.stock <= 0 %}
							<p class="text-justify my_prod_text"><b>Out of Stock</b></p>
						    {% else %}
							<p><a class="btn btn-info btn-lg " href="{% url 'cart:add_cart' product.id %}"><i class="fas fa-shopping-cart"></i>Add to Cart</a></p>
							
						    {% endif %}
						</div>
					</div>
				</div>
				{% empty %}
				<div class="row mx-auto">
					<p class="text-center my_search_text">0 result found.</p>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}